<?php
	$config = array();
	$config['db'] = array( 'host' => '',				# The address of the server where the mysql database is stored
												 'port' => '',				# The port of the mysql server listens on
												 'username' => '',		# A username for the connection
												 'password' => '',		# The user's password
												 'dbname' => '' );		# Name of the eathena database
	
	$config['refresh_time'] = 10;               # In seconds
?>