<?php
	$config = array();
	$config['db'] = array( 'host' => '127.0.0.1',
												 'port' => '3306',
												 'username' => 'root',
												 'password' => 'apQTZ47!',
												 'dbname' => 'acroserver' );
	
	$config['per_page'] = 50;
?>